<div [style.background-color]="cellOption.killerBackground" class="cell"  [ngClass]="borderClasses" >
  
  <div class="cellContent" [ngClass] = "setKillerBorders()" (click) = "selectCell()"  >
    <div  class="topContent">
      &nbsp;{{cellOption.killerNumber}}
    </div>
    
     
      <input class="inputBox" [value] = "cellOption.uniqueValue" [disabled] = "puzzleType === 'killer'" #box (blur)="setValue(box.value)">
      
    
      <div  class="bottomContent"  >
      &nbsp;
      {{showOptionValues()}}
    </div>
    
    
  </div>
</div>
